<a href="https://colab.research.google.com/github/harivign/bank-transactions-ds-practice-for-da-ml/blob/main/bank_transactions_ds_practice_for_da_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#bank transaction dataset to practice for data analysis and machine learning

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/content/bank_transactions_data_2.csv")

In [3]:
df

,TransactionID,AccountID,TransactionAmount,TransactionDate,TransactionType,Location,DeviceID,IP Address,MerchantID,Channel,CustomerAge,CustomerOccupation,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate
0,TX000001,AC00128,14.09,2023-04-11 16:29:14,Debit,San Diego,D000380,162.198.218.92,M015,ATM,70,Doctor,81,1,5112.21,2024-11-04 08:08:08
1,TX000002,AC00455,376.24,2023-06-27 16:44:19,Debit,Houston,D000051,13.149.61.4,M052,ATM,68,Doctor,141,1,13758.91,2024-11-04 08:09:35
2,TX000003,AC00019,126.29,2023-07-10 18:16:08,Debit,Mesa,D000235,215.97.143.157,M009,Online,19,Student,56,1,1122.35,2024-11-04 08:07:04
3,TX000004,AC00070,184.50,2023-05-05 16:32:11,Debit,Raleigh,D000187,200.13.225.150,M002,Online,26,Student,25,1,8569.06,2024-11-04 08:09:06
4,TX000005,AC00411,13.45,2023-10-16 17:51:24,Credit,Atlanta,D000308,65.164.3.100,M091,Online,26,Student,198,1,7429.40,2024-11-04 08:06:39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2507,TX002508,AC00297,856.21,2023-04-26 17:09:36,Credit,Colorado Springs,D000625,21.157.41.17,M072,Branch,33,Doctor,109,1,12690.79,2024-11-04 08:11:29
2508,TX002509,AC00322,251.54,2023-03-22 17:36:48,Debit,Tucson,D000410,49.174.157.140,M029,Branch,48,Doctor,177,1,254.75,2024-11-04 08:11:42
2509,TX002510,AC00095,28.63,2023-08-21 17:08:50,Debit,San Diego,D000095,58.1.27.124,M087,Branch,56,Retired,146,1,3382.91,2024-11-04 08:08:39
2510,TX002511,AC00118,185.97,2023-02-24 16:24:46,Debit,Denver,D000634,21.190.11.223,M041,Online,23,Student,19,1,1776.91,2024-11-04 08:12:22
2511,TX002512,AC00009,243.08,2023-02-14 16:21:23,Credit,Jacksonville,D000215,59.127.135.25,M041,Online,24,Student,93,1,131.25,2024-11-04 08:07:49

In [4]:
df.columns

Index(['TransactionID', 'AccountID', 'TransactionAmount', 'TransactionDate',
       'TransactionType', 'Location', 'DeviceID', 'IP Address', 'MerchantID',
       'Channel', 'CustomerAge', 'CustomerOccupation', 'TransactionDuration',
       'LoginAttempts', 'AccountBalance', 'PreviousTransactionDate'],
      dtype='object')

In [5]:
df=df.rename(columns={'TransactionID':'transaction','AccountID':'accountid','TransactionAmount':'transactionamount','TransactionDate':'transactiondate','TransactionType':'transactiontype',
                   'Location':'location','DeviceID':'deviceid','IP Address':'ipaddress','MerchantID':'merchantid','Channel':'channel','CustomerAge':'customerage','CustomerOccupation':'customeroccupation',
                   'TransactionDuration':'transactionduration','LoginAttempts':'loginattemts','AccountBalance':'accountbalance','PreviousTransactionDate':'previoustransactiondate'})

In [6]:
df.isnull().sum()

transaction                0
accountid                  0
transactionamount          0
transactiondate            0
transactiontype            0
location                   0
deviceid                   0
ipaddress                  0
merchantid                 0
channel                    0
customerage                0
customeroccupation         0
transactionduration        0
loginattemts               0
accountbalance             0
previoustransactiondate    0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2512 entries, 0 to 2511
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction              2512 non-null   object
 1   accountid                2512 non-null   object
 2   transactionamount        2512 non-null   float64
 3   transactiondate          2512 non-null   object
 4   transactiontype          2512 non-null   object
 5   location                 2512 non-null   object
 6   deviceid                 2512 non-null   object
 7   ipaddress                2512 non-null   object
 8   merchantid               2512 non-null   object
 9   channel                  2512 non-null   object
 10  customerage              2512 non-null   int64
 11  customeroccupation       2512 non-null   object
 12  transactionduration      2512 non-null   int64
 13  loginattemts             2512 non-null   int64
 14  accountbalance           2512 non-null   float64
 15  previoustransactiondate  2512 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 314.1+ KB

In [9]:
df['transactiondate']=pd.to_datetime(df['transactiondate'])
df['previoustransactiondate']=pd.to_datetime(df['previoustransactiondate'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2512 entries, 0 to 2511
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction              2512 non-null   object
 1   accountid                2512 non-null   object
 2   transactionamount        2512 non-null   float64
 3   transactiondate          2512 non-null   datetime64[ns]
 4   transactiontype          2512 non-null   object
 5   location                 2512 non-null   object
 6   deviceid                 2512 non-null   object
 7   ipaddress                2512 non-null   object
 8   merchantid               2512 non-null   object
 9   channel                  2512 non-null   object
 10  customerage              2512 non-null   int64
 11  customeroccupation       2512 non-null   object
 12  transactionduration      2512 non-null   int64
 13  loginattemts             2512 non-null   int64
 14  accountbalance           2512 non-null   float64
 15  previoustransactiondate  2512 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(3), object(9)
memory usage: 314.1+ KB

In [11]:
#How many rows and columns are in the dataset? Use .shape to check.

In [12]:
df.shape

(2512, 16)

In [13]:
#List all columns and their data types. Use .dtypes.

In [14]:
df.dtypes

transaction                        object
accountid                          object
transactionamount                 float64
transactiondate            datetime64[ns]
transactiontype                    object
location                           object
deviceid                           object
ipaddress                          object
merchantid                         object
channel                            object
customerage                         int64
customeroccupation                 object
transactionduration                 int64
loginattemts                        int64
accountbalance                    float64
previoustransactiondate    datetime64[ns]
dtype: object

In [15]:
#Check for missing values in the dataset. How many missing values are in each column?

In [16]:
df.isnull().sum()

transaction                0
accountid                  0
transactionamount          0
transactiondate            0
transactiontype            0
location                   0
deviceid                   0
ipaddress                  0
merchantid                 0
channel                    0
customerage                0
customeroccupation         0
transactionduration        0
loginattemts               0
accountbalance             0
previoustransactiondate    0
dtype: int64

In [17]:
#Calculate the mean, median, and standard deviation for the numeric columns.

In [18]:
print(df.mean(numeric_only=True))

transactionamount       297.593778
customerage              44.673965
transactionduration     119.643312
loginattemts              1.124602
accountbalance         5114.302966
dtype: float64

In [19]:
print(df.median(numeric_only=True))

transactionamount       211.14
customerage              45.00
transactionduration     112.50
loginattemts              1.00
accountbalance         4735.51
dtype: float64

In [20]:
print(df.std(numeric_only=True))

transactionamount       291.946243
customerage              17.792198
transactionduration      69.963757
loginattemts              0.602662
accountbalance         3900.942499
dtype: float64

In [23]:
df

,transaction,accountid,transactionamount,transactiondate,transactiontype,location,deviceid,ipaddress,merchantid,channel,customerage,customeroccupation,transactionduration,loginattemts,accountbalance,previoustransactiondate
0,TX000001,AC00128,14.09,2023-04-11 16:29:14,Debit,San Diego,D000380,162.198.218.92,M015,ATM,70,Doctor,81,1,5112.21,2024-11-04 08:08:08
1,TX000002,AC00455,376.24,2023-06-27 16:44:19,Debit,Houston,D000051,13.149.61.4,M052,ATM,68,Doctor,141,1,13758.91,2024-11-04 08:09:35
2,TX000003,AC00019,126.29,2023-07-10 18:16:08,Debit,Mesa,D000235,215.97.143.157,M009,Online,19,Student,56,1,1122.35,2024-11-04 08:07:04
3,TX000004,AC00070,184.50,2023-05-05 16:32:11,Debit,Raleigh,D000187,200.13.225.150,M002,Online,26,Student,25,1,8569.06,2024-11-04 08:09:06
4,TX000005,AC00411,13.45,2023-10-16 17:51:24,Credit,Atlanta,D000308,65.164.3.100,M091,Online,26,Student,198,1,7429.40,2024-11-04 08:06:39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2507,TX002508,AC00297,856.21,2023-04-26 17:09:36,Credit,Colorado Springs,D000625,21.157.41.17,M072,Branch,33,Doctor,109,1,12690.79,2024-11-04 08:11:29
2508,TX002509,AC00322,251.54,2023-03-22 17:36:48,Debit,Tucson,D000410,49.174.157.140,M029,Branch,48,Doctor,177,1,254.75,2024-11-04 08:11:42
2509,TX002510,AC00095,28.63,2023-08-21 17:08:50,Debit,San Diego,D000095,58.1.27.124,M087,Branch,56,Retired,146,1,3382.91,2024-11-04 08:08:39
2510,TX002511,AC00118,185.97,2023-02-24 16:24:46,Debit,Denver,D000634,21.190.11.223,M041,Online,23,Student,19,1,1776.91,2024-11-04 08:12:22
2511,TX002512,AC00009,243.08,2023-02-14 16:21:23,Credit,Jacksonville,D000215,59.127.135.25,M041,Online,24,Student,93,1,131.25,2024-11-04 08:07:49

In [24]:
df["transactiontype"].unique()

array(['Debit', 'Credit'], dtype=object)